@font-face {
  font-family: "LINESeedKR-Rg";
  src: url("../Font/LINESeedKR-Rg.woff") format("woff"),
    url("../Font/LINESeedKR-Rg.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("../Font/LINESeedKR-Bd.woff") format("woff"),
    url("../Font/LINESeedKR-Bd.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "LINESeedKR-Th";
  src: url("../Font/LINESeedKR-Th.woff") format("woff"),
    url("../Font/LINESeedKR-Th.woff2") format("woff2");
  font-style: normal;
}
:root {
  --swiper-theme-color: #8aff05;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

  box-sizing: border-box;
  position: relative;
}
html {
  color: black;
  scroll-behavior: smooth;
  font-family: "LineSeedKR-Rg", sans-serif;
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:link,
a:valid,
a:visited {
  color: black;
  text-decoration-color: black;
}
nav {
  background: white;
  width: 260px;
  height: 100vh;
  border-right: 1px solid black;
}

nav ul li {
  padding-top: 16px;
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  display: inline;
  color: white;
  font-family: "LineSeedKR-Rg", sans-serif;
  font-size: 26px;
}
nav ul li div {
  font-size: 16px !important;
}
.main {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 180px 100px 100px 100px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.main_title {
  align-self: stretch;
  color: #000;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 156px */
}
.main_descr {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.main_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
}
.main_adj {
  color: #000;
  text-align: center;
  font-family: "sandoll-jebi2", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main_adj_descr {
  width: 470px;
  height: 65px;
  color: #000;
  font-family: SUIT;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}
.scroll-remove {
  overflow: hidden;
}
.scroll-x-remove {
  overflow-x: hidden;
}
.scroll::-webkit-scrollbar {
  display: none;
}
.scroll {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.inline {
  display: inline;
}
.block {
  display: block;
}
.Bd {
  font-family: "LineSeedKR-Bd", sans-serif;
  background: linear-gradient(to top, #8aff05 50%, transparent 50%);
}
.awing {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.logo {
  padding: 50px;
}

.showTitle {
  padding-top: 20px;
  width: auto;
  font-size: 1.25rem;
}

.category {
  padding-top: 120px;
}

.category-name {
  position: relative;
  color: white;
  width: 200px;
  height: 400px;
  padding: 20px;
  margin: 50px;
}
.track-list {
  color: #747474;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.seleted {
  color: #000;
}
.nav-cons {
  position: fixed;
  left: 50px;
  bottom: 50px;
}

.insta {
  margin-right: 16px;
}

.About {
  width: calc(100vw - 260px);
  left: 260px;
}
.center {
  text-align: center;
}
.About-Title {
  font-family: "sandoll-jebi2", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 96px;
  padding-top: 96px;
}
.About-subTitle {
  color: #959595;
  font-family: "sandoll-gothicneo1", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 32px;
  padding-top: 16px;
}
.posterSlot {
  padding: 50px 180px;
}
.poster {
  box-shadow: 5px 4px 31px 10px rgba(0, 0, 0, 0.08);
}
.descr {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 10px;
}
.pad {
  line-height: 36px;
  padding: 150px;
}
.display-flex {
  display: flex;
  justify-content: space-between;
}
.display-col2 {
  width: 48%;
}
.display-col5 {
  display: flex;
  width: auto;
  align-items: center;
  font-family: "LineSeedKR-Bd", sans-serif;
  font-size: 20px;
}
.column {
  flex-direction: column;
}

.track {
  object-fit: cover;
  width: 10vw;
  margin-bottom: 40px;
}
.help {
  display: flex;
  width: calc(100%-400px);
  padding: 200px 150px;
  align-items: flex-start;
  gap: 80px;
  font-family: "LineSeedKR-Bd", sans-serif;
  font-size: 32px;
}
.help_Title {
  font-size: 32px;
}
.help-subtitle {
  display: flex;
  align-items: flex-start;
  gap: 100px;
  font-family: "LineSeedKR-Rg", sans-serif;
  font-size: 24px;
}
.help-contents {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.prof-list {
  display: flex;
  align-items: flex-start;
  gap: 329px;
}
.prof-col2 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.prof-name {
  width: 56px;
  color: #000;
  font-family: "sandoll-gothicneo1", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 240% */
}
.prof-track {
  width: 158px;
  color: #8f8f8f;
  font-family: "sandoll-gothicneo1", sans-serif;
  font-size: min(0.8vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 300% */
}
.comit-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: calc(100vw - 660px);
}
.comit-col5 {
  display: flex;
  width: auto;
  align-items: flex-start;
  gap: 20px;
}
.comit-dept {
  color: #8f8f8f;
  text-align: right;
  font-family: "sandoll-gothicneo1", sans-serif;
  font-size: min(0.8vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 300% */
}
.comit-name {
  color: #000;
  font-family: "sandoll-gothicneo1", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 240% */
}
.underline {
  text-decoration: underline;
  text-underline-position: under;
}
.swiper-button-prev {
  padding-left: 40px;
}
.swiper-button-next {
  padding-right: 40px;
}
.space {
  background: #000;
  width: calc(100vw - 260px);
  height: auto;
  flex-shrink: 0;
}
.space-img {
  width: calc(100vw - 260px);
}
.space-descr {
  display: flex;
  width: calc(100vw - 260px);
  padding: 60px 150px;
  align-items: flex-start;
  gap: 10px;
}
.space-contents {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.space-address {
  display: flex;
  width: 412px;
  height: 64px;
  justify-content: center;
  color: #fff;
  font-family: "LineSeedKR-Rg", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
}
.space-time {
  color: var(--gray, #868686);
  font-family: "LineSeedKR-Rg", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}
.project {
  width: calc(100vw - 360px);
  display: flex;
  padding: 100px 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.78vw;
}
.project-row {
  display: flex;
  align-items: flex-start;
  gap: 0.78vw;
}
.project-img {
  width: calc(33vw - 130px);
}
.thumbnail {
  position: relative;
}
.thumb-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.thumb-title {
  color: #fff;
  font-family: "LineSeedKR-Bd", sans-serif;
  font-size: min(1.6vw, 34px);
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 47.6px */
}
.thumb-name {
  color: #fff;
  text-align: right;
  font-family: "LineSeedKR-Rg", sans-serif;
  font-size: min(1.2vw, 22px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 30.8px */
}
.thumb-below {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
}
.overlay {
  display: inline-flex;
  padding: 20px;
  align-items: stretch;
  gap: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
}
.thumbnail:hover .overlay {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.designer {
  display: inline-flex;
  padding: 100px 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 3vw;
}
.designer-row {
  display: flex;
  width: calc(100vw - 18.75vw);
  justify-content: space-between;
  align-items: flex-start;
}
.designer-slot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5vw;
}
.des-overlay {
  display: flex;
  padding: 20px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
}
.designer-thumb:hover .des-overlay {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.des-thumb-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}
.des-thumb-title {
  color: #fff;
  font-family: "LineSeedKR-Bd", sans-serif;
  font-size: min(1.6vw, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 47.6px */
}
.des-thumb-track {
  color: #fff;
  font-family: "LineSeedKR-Rg", sans-serif;
  font-size: min(1vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 30.8px */
}
.des-img {
  width: calc(19vw);
}
.designer-descr {
  width: calc(19vw);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2vw;
}
.designer-nameSlot {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.designer-adj {
  color: #a0a0a0;
  font-family: "sandoll-gothicneo1", sans-serif;
  font-size: min(1vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.designer-name {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}
.name-kr {
  color: #000;
  font-family: "LineSeedKR-Rg", sans-serif;
  font-size: min(1.6vw, 32px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  word-break: break-all;
}
.name-en {
  color: #5a5757;
  font-family: "LineSeedKR-Rg", sans-serif;
  font-size: min(0.8vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  word-break: break-all;
}
.des-icon {
  width: 1vw;
}
.des-arrow {
  width: 3vw;
}
.detail-img {
  width: calc(100vw - 260px);
}
.detail-descr {
  display: inline-flex;
  padding: 2.083vw 4.166vw 3.385vw 4.166vw;
  justify-content: center;
  align-items: center;
}
.detail-descrSlot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.detail-aboveSlot {
  display: flex;
  width: calc(100vw - 420px);
  justify-content: space-between;
  align-items: center;
}
.detail-belowSlot {
  display: flex;
  width: calc(100vw - 420px);
  justify-content: space-between;
  align-items: flex-start;
}
.above-title {
  width: 36.458vw;
  color: #000;
  font-family: "sandoll-gothicneo1", sans-serif;
  font-size: min(3.2vw, 64px);
  font-style: normal;
  font-weight: 400;
  line-height: 80px; /* 125% */
}
.above-sub {
  width: 40.625vw;
  flex-shrink: 0;
  color: #494949;
  font-family: "sandoll-gothicneo1", sans-serif;
  font-size: min(1.2vw, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 38.4px */
}
.below-name {
  width: 36.458vw;
  color: #a0a0a0;
  font-family: "sandoll-gothicneo1", sans-serif;
  font-size: min(0.8vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.below-descr {
  width: 40.625vw;
  flex-shrink: 0;
  color: #404040;
  font-family: "sandoll-gothicneo1", sans-serif;
  font-size: min(0.8vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.detail-student {
  border-top: 1px solid #000;
  display: flex;
  width: 100%;
  padding: 5.208vw 6.25vw;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}
.detail-studentSlot {
  display: flex;
  width: auto;
  align-items: flex-start;
  gap: 3.23vw;
}
.studentImg {
  width: 14.84375vw;
  align-self: stretch;
}
.student {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.04vw;
}
.stu-Above {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.666vw;
}
.stu-nameSlot {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}
.stu-name {
  display: flex;
  align-items: flex-end;
  gap: 0.833vw;
}
.stu-nameKr {
  color: #000;
  font-family: "LineSeedKR-Bd", sans-serif;
  font-size: min(2vw, 40px);
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 40px */
}
.stu-nameEn {
  color: #808080;
  font-family: "LineSeedKR-Rg", sans-serif;
  font-size: min(1vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}
.line {
  width: 100%;
  height: 2px;
  background: #d9d9d9;
}
.stu-descr {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4.166vw;
}
.stu-descrContent {
  line-height: 160%;
  text-align: justify;
  width: 25.104vw;
  height: 10.572vw;
  flex-shrink: 0;
}
.stu-contact {
  color: #000;
  font-size: min(1.2vw, 24px);
  display: flex;
  align-items: flex-start;
  gap: 1.666vw;
}
.contactSlot {
  display: flex;
  align-items: center;
  gap: 0.833vw;
}
#tracks {
  color: #b1b1b1;
  font-size: 20px;
}
#selected {
  color: #000;
  font-size: min(1vw, 20px);
}
