@font-face {
  font-family: "LINESeedKR-Rg";
  src: url("../Font/LINESeedKR-Rg.woff") format("woff"),
    url("../Font/LINESeedKR-Rg.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("../Font/LINESeedKR-Bd.woff") format("woff"),
    url("../Font/LINESeedKR-Bd.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "LINESeedKR-Th";
  src: url("../Font/LINESeedKR-Th.woff") format("woff"),
    url("../Font/LINESeedKR-Th.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("../Font/PretendardVariable.woff2") format("woff2");
  font-style: normal;
}
:root {
  --swiper-theme-color: #8aff05;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

  box-sizing: border-box;
  position: relative;
}
html {
  color: black;
  scroll-behavior: smooth;
  font-family: "LineSeedKR-Rg", sans-serif;
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:link,
a:valid,
a:visited {
  color: black;
  text-decoration-color: black;
}

.scroll-remove {
  overflow: hidden;
}
.scroll-x-remove {
  overflow-x: hidden;
}
.scroll::-webkit-scrollbar {
  display: none;
}
.scroll {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.inline {
  display: inline;
}
.block {
  display: block;
}
.Bd {
  font-family: "LineSeedKR-Bd", sans-serif;
  background: linear-gradient(to top, #8aff05 50%, transparent 50%);
}

/* 인트로 페이지 */

.main {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 180px 100px 100px 100px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.main_title {
  align-self: stretch;
  color: #000;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 156px */
}
.main_descr {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.main_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
}
.main_adj {
  color: #000;
  text-align: center;
  font-family: "pretendard", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main_adj_descr {
  width: 470px;
  height: 65px;
  color: #000;
  font-family: SUIT;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

/*네비게이션 바*/

nav {
  background: white;
  width: 260px;
  height: 100vh;
  border-right: 1px solid black;
}

nav ul li {
  padding-top: 16px;
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  display: inline;
  color: white;
  font-family: "LineSeedKR-Rg", sans-serif;
  font-size: 26px;
}
nav ul li div {
  font-size: 16px !important;
}
.navbar-container {
  position: fixed;
}
.hoveranim {
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.3s;
  background-image: linear-gradient(to top, #8aff05 70%, transparent 30%);
  cursor: pointer;
}
.hoveranim:hover {
  background-size: 100% 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  height: 50px;
}
.awing {
  position: fixed;
  top: 0;
  left: 0;
}
.awingmMob {
  display: none;
}
.logo {
  padding: 50px;
}

.showTitle {
  padding-top: 20px;
  width: auto;
  font-size: 1.25rem;
}

.category {
  padding-top: 120px;
}

.category-name {
  position: relative;
  color: white;
  width: 200px;
  height: 400px;
  padding: 20px;
  margin: 50px;
}
.track-list {
  color: #747474;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.seleted {
  color: #000;
}
.nav-cons {
  position: fixed;
  left: 50px;
  bottom: 50px;
}
.insta {
  margin-right: 16px;
}

.awingmMob input[type="checkbox"],
.awingmMob .hamburger-lines {
  display: none;
}

.awingmMob {
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.95;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #117964;
  transition: color 0.3s ease-in-out;
}

/* about */

.pad {
  line-height: 1.875vw;
  padding: 7.8125vw; /* 1500px */
}
.About {
  font-family: Pretendard;
  width: calc(100vw - 260px);
  left: 260px;
}
.About-title {
  padding: 7.8125vw;
  display: none;
  line-height: auto;
}
.About-adj {
  font-size: 32px;
}
.center {
  text-align: center;
}

.posterSlot {
  padding: 2.6vw 7.8125vw;
}
.poster {
  width: 100%;
}
.poster-mob {
  width: 90vw;
  display: none;
}

.display-flex {
  display: flex;
  justify-content: space-between;
}
.display-col2 {
  text-align: justify;
  width: 48%;
}
.track-slot {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
}
.display-col5 {
  display: flex;
  width: 12vw;
  align-items: center;
  font-size: min(1vw, 20px);
}
.display-mob {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.display-mobflex {
  display: flex;
  align-items: flex-end;
  gap: 60px;
}
.display-mobcol3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}
.column {
  flex-direction: column;
}

.track {
  object-fit: cover;
  width: 8vw;
  margin-bottom: 2.08vw;
}
.help {
  display: flex;
  width: calc(100%-400px);
  padding: 10.41vw 7.8125vw;
  align-items: flex-start;
  gap: 4.16vw;
  font-family: Pretendard;
  font-size: min(1.6vw, 32px);
}
.help_Title {
  font-size: min(1.6vw, 32px);
}
.help-subtitle {
  display: flex;
  align-items: flex-start;
  gap: 5.2vw;
  font-size: min(1.25vw, 24px);
}
.help-contents {
  display: flex;
  align-items: flex-start;
  gap: 2.08vw;
}
.prof-list {
  display: flex;
  align-items: flex-start;
  gap: 17.135vw;
}
.prof-col2 {
  display: flex;
  align-items: flex-start;
  gap: 2.08vw;
}
.prof-name {
  width: 2.916vw;
  color: #000;
  font-size: min(1vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 2.5vw; /* 240% */
}
.prof-track {
  width: 158px;
  color: #8f8f8f;
  font-size: min(0.8vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 2.5vw; /* 300% */
}
.prof-mob {
  display: none;
}
.comit-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 65.625vw;
  gap: 3vw;
}
.comit-moblist {
  display: none;
}
.comit-col5 {
  display: flex;
  width: auto;
  align-items: flex-start;
  gap: 1vw;
}
.comit-dept {
  white-space: nowrap;
  color: #8f8f8f;
  text-align: right;
  font-size: min(0.8vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 2.5vw; /* 300% */
}
.comit-name {
  width: 6.25vw;
  color: #000;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5vw; /* 240% */
}
.comit-spon {
  width: min(50%, 100%);
}
.underline {
  text-decoration: underline;
  text-underline-position: under;
}
.swiper-button-prev {
  padding-left: 2vw;
}
.swiper-button-next {
  padding-right: 2vwx;
}
.space {
  background: #000;
  width: calc(100vw - 260px);
  height: auto;
  flex-shrink: 0;
}
.space-img {
  object-fit: cover;
  width: calc(100vw - 260px);
  height: 70vh;
}
.space-descr {
  display: flex;
  width: calc(100vw - 260px);
  height: 30vh;
  padding: 2.6vw 7.8125vw;
  align-items: flex-start;
  gap: 0.5px;
}
.space-contents {
  display: flex;
  align-items: flex-start;
  gap: 1vw;
}
.space-address {
  display: flex;
  width: 21.45vw;
  height: 5.925vw;
  justify-content: center;
  color: #fff;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
}
.space-time {
  color: #8f8f8f;
  font-size: 0.8vw;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}

/* project */
.header {
  display: none;
  background-color: #fff;
  position: relative;
  width: 100%;
  z-index: 30;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: inline-block;
  padding: 20px 36px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}
.header .menu {
  font-size: 18px;
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.header .menu-btn {
  display: none;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: flex;
  width: 100%;
  padding: 20px 20px;
  position: relative;
  justify-content: center;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-btn:checked ~ .menu {
  max-height: 100%;
  border-bottom: 1px solid;
  padding-bottom: 20px;
}

.project {
  width: 81.25vw;
  display: flex;
  padding: 5.2vw 2.6vw;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vw;
}
.project-row {
  display: flex;
  align-items: flex-start;
  gap: 1vw;
}
.project-mobrow {
  display: none;
}
.project-img {
  width: 26.4vw;
}
.thumbnail {
  position: relative;
}
.thumb-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.thumb-title {
  color: #fff;
  font-family: "LineSeedKR-Bd", sans-serif;
  font-size: min(1.6vw, 34px);
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 47.6px */
}
.thumb-name {
  color: #fff;
  text-align: right;
  font-family: "LineSeedKR-Rg", sans-serif;
  font-size: min(1.2vw, 22px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 30.8px */
}
.thumb-below {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
}
.overlay {
  display: inline-flex;
  padding: 2vw;
  align-items: stretch;
  gap: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
}
.thumbnail:hover .overlay {
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* designer */

.designer {
  display: inline-flex;
  padding: 5.2vw 2.6vw;
  flex-direction: column;
  align-items: flex-start;
  gap: 3vw;
}
.designer-row {
  display: flex;
  width: calc(100vw - 18.75vw);
  justify-content: space-between;
  align-items: flex-start;
}
.designer-mobrow {
  display: none;
}
.designer-slot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5vw;
}
.des-overlay {
  display: flex;
  padding: 1.6vw;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
}
.designer-thumb:hover .des-overlay {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.des-thumb-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}
.des-thumb-title {
  color: #fff;
  font-family: "LineSeedKR-Bd", sans-serif;
  font-size: min(1.6vw, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 47.6px */
}
.des-thumb-track {
  color: #fff;
  font-family: "LineSeedKR-Rg", sans-serif;
  font-size: min(1vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 30.8px */
}
.des-img {
  width: 19.03vw;
}
.designer-descr {
  width: 19vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0.8vw;
  gap: 0.2vw;
}
.designer-nameSlot {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.designer-adj {
  color: #a0a0a0;
  font-family: "pretendard", sans-serif;
  font-size: min(1vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.designer-name {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}
.name-kr {
  color: #000;
  font-family: "LineSeedKR-Rg", sans-serif;
  font-size: min(1.6vw, 32px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  word-break: break-all;
}
.name-en {
  color: #5a5757;
  font-family: "LineSeedKR-Rg", sans-serif;
  font-size: min(0.8vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  word-break: break-all;
}
.des-icon {
  width: 1vw;
}
.des-arrow {
  width: 3vw;
}

/* detail */

.detail-img {
  width: calc(100vw - 260px);
}
.detail-descr {
  display: inline-flex;
  padding: 2.083vw 4.166vw 3.385vw 4.166vw;
  justify-content: center;
  align-items: center;
}
.detail-descrSlot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.detail-aboveSlot {
  display: flex;
  width: calc(100vw - 420px);
  justify-content: space-between;
  align-items: flex-start;
  gap: 4vw;
}
.detail-belowSlot {
  display: flex;
  width: calc(100vw - 420px);
  justify-content: space-between;
  align-items: flex-start;
}
.detail-mobstudent {
  display: none;
}
.above-title {
  width: 36.458vw;
  color: #000;
  font-family: "pretendard", sans-serif;
  font-size: min(3.2vw, 64px);
  font-style: normal;
  font-weight: 600;
  line-height: 80px; /* 125% */
}
.above-sub {
  width: 40.625vw;
  flex-shrink: 0;
  color: #494949;
  font-family: "pretendard", sans-serif;
  font-size: min(1.2vw, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: 200%; /* 38.4px */
}
.below-name {
  width: 36.458vw;
  color: #a0a0a0;
  font-family: "pretendard", sans-serif;
  font-size: min(0.8vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.below-descr {
  width: 40.625vw;
  flex-shrink: 0;
  color: #404040;
  font-family: "pretendard", sans-serif;
  font-size: min(0.8vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.detail-student {
  border-top: 1px solid #000;
  display: flex;
  width: 100%;
  padding: 5.208vw 6.25vw;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}
.detail-studentSlot {
  display: flex;
  width: auto;
  align-items: flex-start;
  gap: 3.23vw;
}
.detail-mob {
  display: none;
}
.studentImg {
  width: 14.84375vw;
  align-self: stretch;
}
.student {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.04vw;
}
.stu-Above {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.666vw;
}
.stu-nameSlot {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}
.stu-name {
  display: flex;
  align-items: flex-end;
  gap: 0.833vw;
}
.stu-nameKr {
  color: #000;
  font-family: "LineSeedKR-Bd", sans-serif;
  font-size: min(2vw, 40px);
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 40px */
}
.stu-nameEn {
  color: #808080;
  font-family: "LineSeedKR-Rg", sans-serif;
  font-size: min(1vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}
.line {
  width: 100%;
  height: 2px;
  background: #d9d9d9;
}
.stu-descr {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4.166vw;
}
.stu-descrContent {
  font-family: "pretendard", sans-serif;
  font-size: min(1vw, 18px);
  line-height: 160%;
  text-align: justify;
  width: 25.104vw;
  height: 10.572vw;
  flex-shrink: 0;
}
.stu-contact {
  color: #000;
  font-size: min(1.2vw, 24px);
  display: flex;
  align-items: flex-start;
  gap: 1.666vw;
}
.contactSlot {
  display: flex;
  align-items: center;
  gap: 0.833vw;
}
#tracks {
  color: #b1b1b1;
  font-size: 20px;
}
#selected {
  color: #000;
  font-size: 20px;
}

/* 1000px 이하 */

@media (max-width: 1000px) {
  nav {
    background: white;
    width: 100vw;
    height: 52px;
    border-right: 0px;
    border-bottom: 1px solid black;
  }
  .awing {
    display: none;
  }
  .awingmMob {
    display: block;
    z-index: 50;
    position: fixed;
    align-items: center;
    gap: 32px;
  }

  .awingmMob input[type="checkbox"],
  .awingmMob .hamburger-lines {
    display: block;
  }

  .awingmMob input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .awingmMob .hamburger-lines {
    display: block;
    height: 18px;
    width: 24px;
    position: absolute;
    top: 16px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .awingmMob .hamburger-lines .line {
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 10px;
    background: black;
  }

  .awingmMob .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .awingmMob .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .awingmMob .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .awingmMob .menu-items {
    padding-top: 40px;
    background: #fff;
    height: calc(100vh - 50px);
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    border-right: 1px solid #000;
  }

  .awingmMob .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .awingmMob input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .awingmMob input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(43deg);
  }

  .awingmMob input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .awingmMob input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-43deg);
  }

  .navTitle {
    position: absolute;
    top: 18px;
    width: 100%;
    color: #000;
    font-family: "LineSeedKR-Bd", sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 700;
  }
  .nav-cons {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-left: -26px;
    padding-left: 50px;
    bottom: 30px;
  }
  .nav-text {
    color: #868686;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }

  /* about */

  .posterSlot,
  .pad {
    padding: 12vw 7.6vw;
  }

  .About {
    top: 50px;
    gap: 100px;
    width: 100vw;
    left: 0px;
  }
  .About-title {
    display: block;
    line-height: auto;
  }
  .About-adj {
    display: inline;
    background: linear-gradient(to top, #4aff00 50%, transparent 50%);
  }
  .poster {
    display: none;
  }
  .poster-mob {
    display: block;
    width: 84.8vw;
  }
  .display-mob {
    display: inline-flex;
  }
  .display-flex {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .display-col2 {
    text-align: justify;
    width: 84.8vw;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
  .eng {
    display: none;
  }
  .track-slot {
    display: none;
  }
  .trackmob {
    width: 15px;
  }
  .track {
    width: 18vw;
  }
  .help {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    gap: 60px;
  }
  .help-contents {
    display: flex;
    align-items: flex-start;
    gap: 14px;
  }
  .underline {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 21.6px */
    text-decoration-line: underline;
  }
  .prof-col2 {
    display: none;
  }
  .prof-mob {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  .prof-name {
    width: 11vw;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
  }
  .prof-track {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
  }
  .comit-col5 {
    display: none;
  }
  .comit-moblist {
    display: flex;
    align-items: flex-start;
    gap: 80px;
  }
  .comit-mobcol2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
  }

  .comit-mobcontent {
    display: flex;
    align-items: flex-start;
    gap: 12px;
  }
  .comit-name {
    width: 15vw;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
  .comit-track {
    color: #8f8f8f;
    width: 51px;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
  .comit-mobsponslot {
    display: flex;
    align-items: flex-end;
    gap: 12px;
  }
  .comit-spon {
    width: 50%;
  }
  .space,
  .space-descr,
  .space-img {
    width: 100vw;
  }
  .space-descr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    height: 200px;
    padding: 3.8vw 7.6vw;
  }
  .space-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }
  .space-address {
    width: 100%;
    height: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  .space-time {
    width: 70%;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }

  /* project */
  .header {
    display: block;
  }

  .project {
    top: 7px;
    width: 100vw;
    display: inline-flex;
    padding: 0px 7px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .project-row {
    display: none;
  }
  .project-mobrow {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 1vw;
    justify-content: center;
  }
  .thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
  .project-img {
    width: 48vw;
  }
  .thumb-text {
    display: flex;
    padding: 4px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
  }

  /* designer */
  .designer {
    top: 5vw;
    display: flex;
    padding: 0px 2vw;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .designer-row {
    display: none;
  }
  .designer-mobrow {
    display: block;
    width: 96vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2vw;
  }
  .designer-slot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
  }
  .des-img {
    width: 44vw;
  }
  .designer-descr {
    display: flex;
    width: 44vw;
    height: 77px;
    padding: 2vw 1vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
    align-self: stretch;
  }
  .designer-nameSlot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .name-kr {
    font-family: "LINESeedKR-Rg";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28px */
  }
  .name-en {
    font-family: "LINESeedKR-Rg";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
  }
  .designer-adj {
    text-align: center;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  /* detail */
  .detail-img {
    width: 100vw;
    height: auto;
  }
  .detail-descrSlot {
    display: none;
  }
  .detail-descr {
    display: flex;
    padding: 30px 20px 30px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
  .detail-mob {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .detail-mobabove {
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: flex-start;
  }
  .detail-mobtitle {
    width: 286px;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .detail-mobbelow {
    display: flex;
    height: 200px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .detail-mobsubtitle {
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 25.6px */
  }
  .detail-mobdescr {
    color: #404040;
    text-align: justify;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 186.667% */
  }
  .detail-student {
    padding: 30px 20px 30px 20px;
    border: 0px;
  }
  .detail-studentSlot {
    display: none;
  }
  .detail-mobstudent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
  .detail-mobstudentslot {
    display: flex;
    padding: 20px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
  }
  .stu-nameSlot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .stu-nameKr {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 28px */
  }
  .stu-nameEn {
    color: #a0a0a0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
  }
  .studentImg {
    width: 179px;
  }
  .stu-descrContent {
    width: 350px;
    height: auto;
    color: #404040;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
  .stu-contactrow {
    display: flex;
    width: 350px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .stu-contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }
  .contactSlot {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
  }
  .mobicon {
    width: 15px;
  }
}
